# Python (cache, virtual environments, build artifacts)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Data & Output
data/generated/*
!data/generated/.gitkeep
results/*
!results/.gitkeep

# LaTeX (temporary files, indices, bibliographies, logs)
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf
*.lof
*.lot
*.nlo
*.nls
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.ist
*.maf
*.mtc*

# Operating System files
Thumbs.db
Desktop.ini
ehthumbs.db
.DS_Store

# Editors & IDEs (Spyder, VS Code, PyCharm)
.spyproject/
.spyderproject/
.vscode/
.idea/